div {
    margin-top: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center;
    flex-direction: column;
    color: azure;
}
table{
    width: 450px;
    height: 350px; 
    text-align: center;
    background: rgb(30, 105, 68);
    outline: 5px solid #aaaaaa;
}

th{
    outline: 5px solid #aaaaaa;
    color: rgb(134, 255, 110);
    font-size: 25px;
}