USE [master]
GO
/****** Object:  Database [sample]    Script Date: 02.03.2023 8:53:18 ******/
CREATE DATABASE [sample]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sample', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\sample.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sample_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\sample_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sample].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sample]
GO
/****** Object:  User [u_timur]    Script Date: 02.03.2023 8:53:18 ******/
CREATE USER [u_timur] FOR LOGIN [timur] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [u_denis]    Script Date: 02.03.2023 8:53:18 ******/
CREATE USER [u_denis] FOR LOGIN [denis] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [s_chuck]    Script Date: 02.03.2023 8:53:18 ******/
CREATE USER [s_chuck] FOR LOGIN [chuck] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [s_burt]    Script Date: 02.03.2023 8:53:18 ******/
CREATE USER [s_burt] FOR LOGIN [burt] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [s_ann]    Script Date: 02.03.2023 8:53:18 ******/
CREATE USER [s_ann] FOR LOGIN [ann] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [managers]    Script Date: 02.03.2023 8:53:18 ******/
CREATE ROLE [managers]
GO
/****** Object:  DatabaseRole [manager]    Script Date: 02.03.2023 8:53:18 ******/
CREATE ROLE [manager]
GO
ALTER ROLE [managers] ADD MEMBER [s_chuck]
GO
ALTER ROLE [manager] ADD MEMBER [s_chuck]
GO
ALTER ROLE [managers] ADD MEMBER [s_burt]
GO
ALTER ROLE [manager] ADD MEMBER [s_burt]
GO
ALTER ROLE [managers] ADD MEMBER [s_ann]
GO
ALTER ROLE [manager] ADD MEMBER [s_ann]
GO
/****** Object:  Schema [my_schema]    Script Date: 02.03.2023 8:53:18 ******/
CREATE SCHEMA [my_schema]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 02.03.2023 8:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[emp_no] [int] NOT NULL,
	[emp_fname] [char](20) NOT NULL,
	[emp_lname] [char](20) NOT NULL,
	[dept_no] [char](4) NULL,
 CONSTRAINT [prim_emp] PRIMARY KEY CLUSTERED 
(
	[emp_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[works_on]    Script Date: 02.03.2023 8:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[works_on](
	[emp_no] [int] NOT NULL,
	[project_no] [char](4) NOT NULL,
	[job] [char](15) NULL,
	[enter_date] [date] NULL,
 CONSTRAINT [prim_works] PRIMARY KEY CLUSTERED 
(
	[emp_no] ASC,
	[project_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[employees_in_project]    Script Date: 02.03.2023 8:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[employees_in_project] (@pr_number CHAR(4))
RETURNS TABLE
AS RETURN (SELECT emp_fname, emp_lname
FROM works_on, employee
WHERE employee.emp_no = works_on.emp_no
AND project_no = @pr_number)
GO
/****** Object:  View [dbo].[employeeEx8]    Script Date: 02.03.2023 8:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[employeeEx8] AS (SELECT emp_lname, emp_fname FROM employee)
GO
/****** Object:  Table [dbo].[department]    Script Date: 02.03.2023 8:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[department](
	[dept_no] [char](4) NOT NULL,
	[dept_name] [char](25) NOT NULL,
	[location] [char](30) NULL,
 CONSTRAINT [prim_dept] PRIMARY KEY CLUSTERED 
(
	[dept_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[project]    Script Date: 02.03.2023 8:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[project](
	[project_no] [char](4) NOT NULL,
	[project_name] [char](15) NOT NULL,
	[budget] [float] NULL,
 CONSTRAINT [prim_proj] PRIMARY KEY CLUSTERED 
(
	[project_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[department] ([dept_no], [dept_name], [location]) VALUES (N'd1  ', N'Research                 ', N'Dallas                        ')
INSERT [dbo].[department] ([dept_no], [dept_name], [location]) VALUES (N'd2  ', N'Accounting               ', N'Seattle                       ')
INSERT [dbo].[department] ([dept_no], [dept_name], [location]) VALUES (N'd3  ', N'Marketing                ', N'Dallas                        ')
GO
INSERT [dbo].[employee] ([emp_no], [emp_fname], [emp_lname], [dept_no]) VALUES (2581, N'Elke                ', N'Hansel              ', N'd2  ')
INSERT [dbo].[employee] ([emp_no], [emp_fname], [emp_lname], [dept_no]) VALUES (9031, N'Elsa                ', N'Bertoni             ', N'd2  ')
INSERT [dbo].[employee] ([emp_no], [emp_fname], [emp_lname], [dept_no]) VALUES (10102, N'Ann                 ', N'Jones               ', N'd3  ')
GO
INSERT [dbo].[project] ([project_no], [project_name], [budget]) VALUES (N'p1  ', N'Apollo         ', 105000)
INSERT [dbo].[project] ([project_no], [project_name], [budget]) VALUES (N'p2  ', N'Gemini         ', 50000)
INSERT [dbo].[project] ([project_no], [project_name], [budget]) VALUES (N'p3  ', N'Mercury        ', 26250)
GO
INSERT [dbo].[works_on] ([emp_no], [project_no], [job], [enter_date]) VALUES (2581, N'p1  ', N'Analyst        ', CAST(N'2007-10-15' AS Date))
INSERT [dbo].[works_on] ([emp_no], [project_no], [job], [enter_date]) VALUES (9031, N'p1  ', N'Clerk          ', CAST(N'2007-04-15' AS Date))
INSERT [dbo].[works_on] ([emp_no], [project_no], [job], [enter_date]) VALUES (9031, N'p3  ', N'Clerk          ', CAST(N'2006-11-15' AS Date))
GO
ALTER TABLE [dbo].[employee]  WITH CHECK ADD  CONSTRAINT [foreign_emp] FOREIGN KEY([dept_no])
REFERENCES [dbo].[department] ([dept_no])
GO
ALTER TABLE [dbo].[employee] CHECK CONSTRAINT [foreign_emp]
GO
ALTER TABLE [dbo].[works_on]  WITH CHECK ADD  CONSTRAINT [foreign1_works] FOREIGN KEY([emp_no])
REFERENCES [dbo].[employee] ([emp_no])
GO
ALTER TABLE [dbo].[works_on] CHECK CONSTRAINT [foreign1_works]
GO
ALTER TABLE [dbo].[works_on]  WITH CHECK ADD  CONSTRAINT [foreign2_works] FOREIGN KEY([project_no])
REFERENCES [dbo].[project] ([project_no])
GO
ALTER TABLE [dbo].[works_on] CHECK CONSTRAINT [foreign2_works]
GO
/****** Object:  StoredProcedure [dbo].[ex8_1]    Script Date: 02.03.2023 8:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ex8_1]
                        @deptName NVARCHAR(20),
                        @fname VARCHAR(20) OUTPUT,   
                        @lname VARCHAR(20) OUTPUT
                    AS
                    SELECT emp_fname, emp_lname FROM employee 
	                    JOIN department on department.dept_no = employee.dept_no
	                    WHERE dept_name = @deptName
GO
/****** Object:  StoredProcedure [dbo].[ex8_2]    Script Date: 02.03.2023 8:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ex8_2]
                                            @projectNo NVARCHAR(20),
                                            @projectName NVARCHAR(20),
                                            @budget INT
                                        AS
                                        INSERT INTO project VALUES (@projectNo, @projectName, @budget);
GO
/****** Object:  StoredProcedure [dbo].[ex9_1]    Script Date: 02.03.2023 8:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ex9_1]
                                            @projectName NVARCHAR(20),
                                            @job NVARCHAR(20),
	                                        @emploeeCount INT OUTPUT
                                        AS
                                        SELECT @emploeeCount=COUNT(*) FROM employee
	                                        JOIN works_on on works_on.emp_no =employee.emp_no
	                                        JOIN project on project.project_no = works_on.project_no
	                                        WHERE job = @job AND project_name = @projectName
GO
/****** Object:  StoredProcedure [dbo].[ex9_2]    Script Date: 02.03.2023 8:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ex9_2]
                                            @fname NVARCHAR(20) OUTPUT,
                                            @lname NVARCHAR(20) OUTPUT,
	                                        @empNo NVARCHAR(20), 
	                                        @projectName NVARCHAR(20)
                                        AS
                                        SELECT @fname = emp_fname, @lname = emp_lname FROM employee 
	                                        JOIN works_on on works_on.emp_no = employee.emp_no
	                                        JOIN project on project.project_no = works_on.project_no
	                                        WHERE works_on.emp_no = @empNo AND project_name = @projectName
GO
/****** Object:  StoredProcedure [dbo].[increase_budget]    Script Date: 02.03.2023 8:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[increase_budget] (@percent INT=5)
AS UPDATE project
SET budget = budget + budget*@percent/100;
GO
USE [master]
GO
