USE [master]
GO
/****** Object:  Database [BankEx]    Script Date: 16.02.2023 12:03:14 ******/
CREATE DATABASE [BankEx]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bank', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Bank3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bank_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Bank_log3.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BankEx].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BankEx]
GO
/****** Object:  User [Mikhail]    Script Date: 16.02.2023 12:03:14 ******/
CREATE USER [Mikhail] FOR LOGIN [Readme] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Валюта]    Script Date: 16.02.2023 12:03:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Валюта](
	[Код] [int] NOT NULL,
	[Наименование] [nchar](15) NOT NULL,
	[Курс] [int] NOT NULL,
 CONSTRAINT [PK_Валюта] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Виды_вкладов]    Script Date: 16.02.2023 12:03:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Виды_вкладов](
	[Код] [int] NOT NULL,
	[Наименование] [nchar](20) NOT NULL,
	[Мин_срок] [int] NOT NULL,
	[Мин_суммв] [int] NOT NULL,
	[Код_валюты] [int] NOT NULL,
	[Ставка] [real] NOT NULL,
 CONSTRAINT [PK_Виды_вкладов] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Вклады]    Script Date: 16.02.2023 12:03:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Вклады](
	[Код_вклада] [int] NOT NULL,
	[Код_вкладчика] [int] NOT NULL,
	[Кщд_вида_вклада] [int] NOT NULL,
	[Дата_вклада] [date] NOT NULL,
	[Дата_возврата] [date] NOT NULL,
	[Сумма_вклада] [decimal](18, 2) NOT NULL,
	[Статус_вклада] [nchar](20) NULL,
	[Код_сотрудника] [int] NOT NULL,
 CONSTRAINT [PK_Вклады] PRIMARY KEY CLUSTERED 
(
	[Код_вклада] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Должности]    Script Date: 16.02.2023 12:03:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Должности](
	[Код] [int] NOT NULL,
	[Наименование] [nchar](30) NULL,
	[Оклад] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Должности] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Журнал_Вклады]    Script Date: 16.02.2023 12:03:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Журнал_Вклады](
	[Номер_записи] [int] IDENTITY(1,1) NOT NULL,
	[Дата_записи] [datetime] NULL,
	[Количество_строк] [int] NULL,
	[Имя_пользователя] [nchar](30) NULL,
	[Тип_операции] [nchar](30) NULL,
 CONSTRAINT [PK_Журнал_Вклады] PRIMARY KEY CLUSTERED 
(
	[Номер_записи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Журнал_Ставка]    Script Date: 16.02.2023 12:03:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Журнал_Ставка](
	[Номер_Записи] [int] IDENTITY(1,1) NOT NULL,
	[Дата] [date] NULL,
	[Название_Вклада] [nchar](30) NULL,
	[Старое_Значение] [float] NULL,
	[Новое_Значение] [float] NULL,
	[Имя_Пользователя] [nchar](30) NULL,
 CONSTRAINT [PK_Журнал_Ставка] PRIMARY KEY CLUSTERED 
(
	[Номер_Записи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 16.02.2023 12:03:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты](
	[Код] [int] NOT NULL,
	[Фамилия] [nchar](30) NOT NULL,
	[Имя] [nchar](20) NOT NULL,
	[Отчество] [nchar](30) NOT NULL,
 CONSTRAINT [PK_Клиенты] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудники]    Script Date: 16.02.2023 12:03:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники](
	[Код] [int] NOT NULL,
	[Фамилия] [nchar](30) NOT NULL,
	[Имя] [nchar](20) NOT NULL,
	[Отчество] [nchar](30) NOT NULL,
	[Код_должности] [int] NULL,
 CONSTRAINT [PK_Сотрудники] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Виды_вкладов]  WITH CHECK ADD  CONSTRAINT [FK_Виды_вкладов_Валюта] FOREIGN KEY([Код_валюты])
REFERENCES [dbo].[Валюта] ([Код])
GO
ALTER TABLE [dbo].[Виды_вкладов] CHECK CONSTRAINT [FK_Виды_вкладов_Валюта]
GO
ALTER TABLE [dbo].[Вклады]  WITH CHECK ADD  CONSTRAINT [FK_Вклады_Виды_вкладов] FOREIGN KEY([Кщд_вида_вклада])
REFERENCES [dbo].[Виды_вкладов] ([Код])
GO
ALTER TABLE [dbo].[Вклады] CHECK CONSTRAINT [FK_Вклады_Виды_вкладов]
GO
ALTER TABLE [dbo].[Вклады]  WITH CHECK ADD  CONSTRAINT [FK_Вклады_Клиенты] FOREIGN KEY([Код_вкладчика])
REFERENCES [dbo].[Клиенты] ([Код])
GO
ALTER TABLE [dbo].[Вклады] CHECK CONSTRAINT [FK_Вклады_Клиенты]
GO
ALTER TABLE [dbo].[Вклады]  WITH CHECK ADD  CONSTRAINT [FK_Вклады_Сотрудники] FOREIGN KEY([Код_сотрудника])
REFERENCES [dbo].[Сотрудники] ([Код])
GO
ALTER TABLE [dbo].[Вклады] CHECK CONSTRAINT [FK_Вклады_Сотрудники]
GO
ALTER TABLE [dbo].[Сотрудники]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудники_Должности] FOREIGN KEY([Код_должности])
REFERENCES [dbo].[Должности] ([Код])
GO
ALTER TABLE [dbo].[Сотрудники] CHECK CONSTRAINT [FK_Сотрудники_Должности]
GO
/****** Object:  StoredProcedure [dbo].[add_contribution]    Script Date: 16.02.2023 12:03:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[add_contribution] (@lastname nchar(30), 
							  @firstname nchar(20), 
							  @patronymic nchar(30), 
							  @typeContributionName nchar(20), 
							  @sum decimal(18,2),
							  @days INT,
							  @employeeNumber INT)
	
	AS BEGIN
		DECLARE @typeContributionNumber INT, @contributionCode INT
		
		/*Клиент не обнаружен в базе*/
		IF (SELECT COUNT(*) 
			FROM Клиенты
			WHERE Фамилия = @lastname AND
				  Имя = @firstname AND
				  Отчество = @patronymic) < 1
		BEGIN

		INSERT INTO Клиенты (Фамилия,Имя,Отчество) VALUES (@lastname,@firstname,@patronymic)
		
		SELECT @typeContributionNumber=(SELECT Код FROM Виды_вкладов
		WHERE Наименование = @typeContributionName)
		SELECT @contributionCode=(SELECT Код FROM Клиенты 
		WHERE Фамилия=@lastname AND Имя=@firstname AND Отчество=@patronymic)

		END
		
		/*Клиент существует в базе*/
		ELSE
		
		SELECT @typeContributionNumber=(SELECT Код FROM Виды_вкладов
		WHERE Наименование = @typeContributionName)
		SELECT @contributionCode=(SELECT Код FROM Клиенты 
		WHERE Фамилия=@lastname AND Имя=@firstname AND Отчество=@patronymic)
		
		INSERT INTO Вклады (Код_вкладчика,
							Кщд_вида_вклада,
							Дата_вклада, 
							Дата_возврата, 
							Сумма_вклада, 
							Статус_вклада,
							Код_сотрудника)
		VALUES (@contributionCode,@typeContributionNumber,GETDATE(),GETDATE()+@days,@sum,'Действует',@employeeNumber)
	END
GO
/****** Object:  StoredProcedure [dbo].[Сумма_возврата]    Script Date: 16.02.2023 12:03:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Сумма_возврата] @Дата_возврата Date, @Валюта nchar(30), @Сумма decimal(18,2) output
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	select @Сумма=sum(Сумма_вклада) from Вклады
	join Виды_вкладов on Виды_вкладов.Код=Вклады.Кщд_вида_вклада
	join Валюта on Валюта.Код=Виды_вкладов.Код_валюты
	where (Дата_возврата=@Дата_возврата) and (Валюта.Наименование=@Валюта)
END
GO
USE [master]
GO
