USE [master]
GO
/****** Object:  Database [Payments]    Script Date: 21.04.22 9:17:18 ******/
CREATE DATABASE [Payments]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Payments', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Payments.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Payments_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Payments_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Payments].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Payments]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 21.04.22 9:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 21.04.22 9:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DatePayment] [date] NOT NULL,
	[CategoryId] [int] NULL,
	[Discription] [nvarchar](100) NOT NULL,
	[Count] [int] NULL,
	[Price] [decimal](18, 2) NULL,
	[Cost] [decimal](18, 2) NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 21.04.22 9:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] NOT NULL,
	[Fio] [nvarchar](100) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'Автомобиль')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'Коммунальные платежи')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'Медицина')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([Id], [DatePayment], [CategoryId], [Discription], [Count], [Price], [Cost], [UserId]) VALUES (1, CAST(N'2019-03-01' AS Date), 2, N'Квартплата', 1, CAST(2964.58 AS Decimal(18, 2)), CAST(2964.58 AS Decimal(18, 2)), 1)
INSERT [dbo].[Payments] ([Id], [DatePayment], [CategoryId], [Discription], [Count], [Price], [Cost], [UserId]) VALUES (2, CAST(N'2019-03-01' AS Date), 2, N'Интернет', 1, CAST(450.00 AS Decimal(18, 2)), CAST(450.00 AS Decimal(18, 2)), 2)
INSERT [dbo].[Payments] ([Id], [DatePayment], [CategoryId], [Discription], [Count], [Price], [Cost], [UserId]) VALUES (3, CAST(N'2019-03-01' AS Date), 2, N'Телефон', 1, CAST(170.00 AS Decimal(18, 2)), CAST(170.00 AS Decimal(18, 2)), 3)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
INSERT [dbo].[Users] ([Id], [Fio], [Login], [Password]) VALUES (1, N'Вострякова Анна Вячеславовна', N'Vostryakova', N'aut_aliasg')
INSERT [dbo].[Users] ([Id], [Fio], [Login], [Password]) VALUES (2, N'Головин Денис Викторович', N'Golovin', N'qwerty')
INSERT [dbo].[Users] ([Id], [Fio], [Login], [Password]) VALUES (3, N'Гостева Анастасия Алексеевна', N'Gosteva', N'placeat1972l')
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Categories]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Users]
GO
USE [master]
GO
