* {
  box-sizing: border-box;
  margin: 0;
}

body {
    display: flex;
    justify-content: center;

    margin: auto;
    width: 900px;
}
div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

p{
    border: 1px solid orange;
    padding: 10px;
    color: white;
    background-color: orange;
    font: 15px;
    margin: 10px 0px 0px 0px;
}

p:hover{
    background-color: red;
}