USE [master]
GO
/****** Object:  Database [Estate_Agency]    Script Date: 19.01.2023 10:56:02 ******/
CREATE DATABASE [Estate_Agency]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Estate_Agency', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Estate_Agency.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Estate_Agency_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Estate_Agency_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Estate_Agency].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Estate_Agency]
GO
/****** Object:  Table [dbo].[Agents]    Script Date: 19.01.2023 10:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agents](
	[Id] [int] NOT NULL,
	[FirstName] [nchar](50) NOT NULL,
	[MiddleName] [nchar](50) NOT NULL,
	[LastName] [nchar](50) NOT NULL,
	[DealShare] [int] NOT NULL,
 CONSTRAINT [PK_Agents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Apartment_Demands]    Script Date: 19.01.2023 10:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apartment_Demands](
	[Id] [int] NOT NULL,
	[Address_City] [nchar](50) NULL,
	[Address_Street] [nchar](50) NULL,
	[Address_House] [nchar](50) NULL,
	[Address_Number] [nchar](50) NULL,
	[MinPrice] [int] NULL,
	[MaxPrice] [int] NULL,
	[AgentId] [int] NULL,
	[ClientId] [int] NULL,
	[MinArea] [decimal](18, 2) NULL,
	[MaxArea] [decimal](18, 2) NULL,
	[MinRooms] [int] NULL,
	[MaxRooms] [int] NULL,
	[MinFloor] [int] NULL,
	[MaxFloor] [int] NULL,
	[Type] [nchar](10) NULL,
 CONSTRAINT [PK_Apartment_Demands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Apartments]    Script Date: 19.01.2023 10:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apartments](
	[Id] [int] NOT NULL,
	[Address_City] [nchar](50) NOT NULL,
	[Address_Street] [nchar](50) NOT NULL,
	[Address_House] [nchar](50) NULL,
	[Address_Number] [nchar](50) NULL,
	[Coordinate_latitude] [nchar](50) NOT NULL,
	[Coordinate_longitude] [nchar](50) NOT NULL,
	[TotalArea] [decimal](18, 2) NOT NULL,
	[Rooms] [int] NULL,
	[Floor] [int] NULL,
	[Type] [nchar](10) NULL,
	[OwnerId] [int] NULL,
 CONSTRAINT [PK_Apartments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 19.01.2023 10:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[Id] [int] NOT NULL,
	[FirstName] [nchar](50) NOT NULL,
	[MiddleName] [nchar](50) NOT NULL,
	[LastName] [nchar](50) NOT NULL,
	[Phone] [nchar](15) NULL,
	[Email] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deals]    Script Date: 19.01.2023 10:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deals](
	[Id] [int] NOT NULL,
	[Demand_Id] [int] NOT NULL,
	[Supply_Id] [int] NOT NULL,
 CONSTRAINT [PK_Deals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplies]    Script Date: 19.01.2023 10:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplies](
	[Id] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[AgentId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[RealEstateId] [int] NOT NULL,
 CONSTRAINT [PK_Supplies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Agents] ([Id], [FirstName], [MiddleName], [LastName], [DealShare]) VALUES (1, N'Фахрутдинов                                       ', N'Роман                                             ', N'Рубинович                                         ', 20)
INSERT [dbo].[Agents] ([Id], [FirstName], [MiddleName], [LastName], [DealShare]) VALUES (4, N'Устинов                                           ', N'Максим                                            ', N'Алексеевич                                        ', 40)
INSERT [dbo].[Agents] ([Id], [FirstName], [MiddleName], [LastName], [DealShare]) VALUES (7, N'Сысоева                                           ', N'Людмила                                           ', N'Валентиновна                                      ', 45)
GO
INSERT [dbo].[Apartment_Demands] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor], [Type]) VALUES (1, N'                                                  ', N'                                                  ', N'                                                  ', N'                                                  ', NULL, NULL, 4, 23, NULL, NULL, NULL, NULL, NULL, NULL, N'          ')
INSERT [dbo].[Apartment_Demands] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor], [Type]) VALUES (2, N'                                                  ', N'                                                  ', N'                                                  ', N'                                                  ', NULL, NULL, 4, 16, NULL, NULL, NULL, NULL, NULL, NULL, N'Дом       ')
INSERT [dbo].[Apartment_Demands] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor], [Type]) VALUES (3, N'                                                  ', N'                                                  ', N'                                                  ', N'                                                  ', NULL, NULL, 19, 10, NULL, NULL, NULL, NULL, NULL, NULL, N'Дом       ')
GO
INSERT [dbo].[Apartments] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [Rooms], [Floor], [Type], [OwnerId]) VALUES (1, N'Тюмень                                            ', N'Энергостроителей                                  ', N'25                                                ', N'12                                                ', N'0                                                 ', N'0                                                 ', CAST(41.70 AS Decimal(18, 2)), 1, 3, N'          ', NULL)
INSERT [dbo].[Apartments] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [Rooms], [Floor], [Type], [OwnerId]) VALUES (2, N'Тюмень                                            ', N'Елизарова                                         ', N'8                                                 ', N'44                                                ', N'0                                                 ', N'0                                                 ', CAST(105.00 AS Decimal(18, 2)), 3, 5, N'          ', NULL)
INSERT [dbo].[Apartments] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [Rooms], [Floor], [Type], [OwnerId]) VALUES (3, N'Тюмень                                            ', N'Московский тракт                                  ', N'139                                               ', N'6                                                 ', N'0                                                 ', N'0                                                 ', CAST(62.00 AS Decimal(18, 2)), 3, 2, N'          ', NULL)
GO
INSERT [dbo].[Client] ([Id], [FirstName], [MiddleName], [LastName], [Phone], [Email]) VALUES (2, N'Семенов                                           ', N'Евгений                                           ', N'Николаевич                                        ', N'32-25-55       ', N'                                                  ')
INSERT [dbo].[Client] ([Id], [FirstName], [MiddleName], [LastName], [Phone], [Email]) VALUES (3, N'Денисова                                          ', N'Олеся                                             ', N'Леонидовна                                        ', N'               ', N'dummy@email.ru                                    ')
INSERT [dbo].[Client] ([Id], [FirstName], [MiddleName], [LastName], [Phone], [Email]) VALUES (5, N'Сафронов                                          ', N'Алексей                                           ', N'Вячеславович                                      ', N'               ', N'client@esoft.tech                                 ')
GO
INSERT [dbo].[Deals] ([Id], [Demand_Id], [Supply_Id]) VALUES (1, 1, 1)
INSERT [dbo].[Deals] ([Id], [Demand_Id], [Supply_Id]) VALUES (2, 3, 2)
INSERT [dbo].[Deals] ([Id], [Demand_Id], [Supply_Id]) VALUES (3, 5, 3)
GO
INSERT [dbo].[Supplies] ([Id], [Price], [AgentId], [ClientId], [RealEstateId]) VALUES (1, 2500000, 1, 2, 1)
INSERT [dbo].[Supplies] ([Id], [Price], [AgentId], [ClientId], [RealEstateId]) VALUES (2, 5000000, 7, 8, 3)
INSERT [dbo].[Supplies] ([Id], [Price], [AgentId], [ClientId], [RealEstateId]) VALUES (3, 1300000, 11, 12, 3)
GO
ALTER TABLE [dbo].[Apartment_Demands]  WITH CHECK ADD  CONSTRAINT [FK_Apartment_Demands_Agents] FOREIGN KEY([AgentId])
REFERENCES [dbo].[Agents] ([Id])
GO
ALTER TABLE [dbo].[Apartment_Demands] CHECK CONSTRAINT [FK_Apartment_Demands_Agents]
GO
ALTER TABLE [dbo].[Apartment_Demands]  WITH CHECK ADD  CONSTRAINT [FK_Apartment_Demands_Client] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([Id])
GO
ALTER TABLE [dbo].[Apartment_Demands] CHECK CONSTRAINT [FK_Apartment_Demands_Client]
GO
ALTER TABLE [dbo].[Apartments]  WITH CHECK ADD  CONSTRAINT [FK_Apartments_Client] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[Client] ([Id])
GO
ALTER TABLE [dbo].[Apartments] CHECK CONSTRAINT [FK_Apartments_Client]
GO
ALTER TABLE [dbo].[Deals]  WITH CHECK ADD  CONSTRAINT [FK_Deals_Apartment_Demands] FOREIGN KEY([Demand_Id])
REFERENCES [dbo].[Apartment_Demands] ([Id])
GO
ALTER TABLE [dbo].[Deals] CHECK CONSTRAINT [FK_Deals_Apartment_Demands]
GO
ALTER TABLE [dbo].[Deals]  WITH CHECK ADD  CONSTRAINT [FK_Deals_Supplies] FOREIGN KEY([Supply_Id])
REFERENCES [dbo].[Supplies] ([Id])
GO
ALTER TABLE [dbo].[Deals] CHECK CONSTRAINT [FK_Deals_Supplies]
GO
ALTER TABLE [dbo].[Supplies]  WITH CHECK ADD  CONSTRAINT [FK_Supplies_Agents] FOREIGN KEY([AgentId])
REFERENCES [dbo].[Agents] ([Id])
GO
ALTER TABLE [dbo].[Supplies] CHECK CONSTRAINT [FK_Supplies_Agents]
GO
ALTER TABLE [dbo].[Supplies]  WITH CHECK ADD  CONSTRAINT [FK_Supplies_Apartments] FOREIGN KEY([RealEstateId])
REFERENCES [dbo].[Apartments] ([Id])
GO
ALTER TABLE [dbo].[Supplies] CHECK CONSTRAINT [FK_Supplies_Apartments]
GO
ALTER TABLE [dbo].[Supplies]  WITH CHECK ADD  CONSTRAINT [FK_Supplies_Client] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([Id])
GO
ALTER TABLE [dbo].[Supplies] CHECK CONSTRAINT [FK_Supplies_Client]
GO
USE [master]
GO
