USE [master]
GO
/****** Object:  Database [Estate_Agency]    Script Date: 19.01.2023 10:56:18 ******/
CREATE DATABASE [Estate_Agency]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Real_Estate_Agency', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Real_Estate_Agency.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Real_Estate_Agency_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Real_Estate_Agency_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Estate_Agency].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Estate_Agency]
GO
/****** Object:  Table [dbo].[Apartments]    Script Date: 19.01.2023 10:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apartments](
	[Id] [int] NOT NULL,
	[Address_City] [nchar](50) NULL,
	[Address_Street] [nchar](50) NULL,
	[Address_House] [nchar](50) NULL,
	[Address_Number] [nchar](50) NULL,
	[Coordinate_latitude] [nchar](100) NULL,
	[Coordinate_longitude] [nchar](100) NULL,
	[TotalArea] [decimal](18, 2) NULL,
	[Rooms] [int] NULL,
	[Floor] [int] NULL,
	[Type] [nchar](30) NULL,
 CONSTRAINT [PK_Apartments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 19.01.2023 10:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[Id] [int] NOT NULL,
	[LastName] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[MidleName] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deal]    Script Date: 19.01.2023 10:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deal](
	[Deal_ID] [int] NOT NULL,
	[Requirement_ID] [int] NOT NULL,
	[Offer_ID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Offers]    Script Date: 19.01.2023 10:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Offers](
	[Client] [int] NOT NULL,
	[Realtor] [int] NOT NULL,
	[Estate_Object] [int] NULL,
	[Price] [int] NULL,
	[Offer_Id] [int] NOT NULL,
 CONSTRAINT [PK_Offers] PRIMARY KEY CLUSTERED 
(
	[Offer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Realtor]    Script Date: 19.01.2023 10:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Realtor](
	[Id] [int] NOT NULL,
	[LastName] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[MiddleName] [varchar](50) NULL,
	[DealShare] [int] NULL,
 CONSTRAINT [PK_Realtor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requirement]    Script Date: 19.01.2023 10:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requirement](
	[Requirement_ID] [int] NOT NULL,
	[Adress_City] [nchar](50) NULL,
	[Adress_Street] [nchar](50) NULL,
	[Adress_House] [nchar](50) NULL,
	[Adress_Number] [nchar](50) NULL,
	[MinPrice] [int] NULL,
	[MaxPrice] [int] NULL,
	[Realtor_ID] [int] NULL,
	[Client_ID] [int] NULL,
	[MinArea] [decimal](18, 2) NULL,
	[MaxArea] [decimal](18, 2) NULL,
	[MinRoom] [int] NULL,
	[MaxRoom] [int] NULL,
	[MinFloor] [int] NULL,
	[MaxFloor] [int] NULL,
 CONSTRAINT [PK_Requirement] PRIMARY KEY CLUSTERED 
(
	[Requirement_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Client] ([Id], [LastName], [Name], [MidleName], [Phone], [Email]) VALUES (2, N'Семенов
', N'Евгений 
', N'Николаевич
', NULL, NULL)
INSERT [dbo].[Client] ([Id], [LastName], [Name], [MidleName], [Phone], [Email]) VALUES (3, N'Денисова', N'Олеся', N'Леонидовна', NULL, N'dummy@email.ru')
INSERT [dbo].[Client] ([Id], [LastName], [Name], [MidleName], [Phone], [Email]) VALUES (5, N'Сафронов', N'Алексей', N'Вячеславович', NULL, N'client@esoft.tech')
GO
INSERT [dbo].[Deal] ([Deal_ID], [Requirement_ID], [Offer_ID]) VALUES (1, 1, 1)
INSERT [dbo].[Deal] ([Deal_ID], [Requirement_ID], [Offer_ID]) VALUES (2, 3, 2)
INSERT [dbo].[Deal] ([Deal_ID], [Requirement_ID], [Offer_ID]) VALUES (3, 5, 3)
GO
INSERT [dbo].[Offers] ([Client], [Realtor], [Estate_Object], [Price], [Offer_Id]) VALUES (2, 1, 1, 2500000, 1)
INSERT [dbo].[Offers] ([Client], [Realtor], [Estate_Object], [Price], [Offer_Id]) VALUES (8, 7, 3, 5000000, 2)
INSERT [dbo].[Offers] ([Client], [Realtor], [Estate_Object], [Price], [Offer_Id]) VALUES (12, 11, 2, 1300000, 3)
GO
INSERT [dbo].[Realtor] ([Id], [LastName], [Name], [MiddleName], [DealShare]) VALUES (1, N'Фахрутдинов', N'Роман', N'Рубинович', 20)
INSERT [dbo].[Realtor] ([Id], [LastName], [Name], [MiddleName], [DealShare]) VALUES (4, N'Устинов', N'Максим', N'Алексеевич', 40)
INSERT [dbo].[Realtor] ([Id], [LastName], [Name], [MiddleName], [DealShare]) VALUES (7, N'Сысоева', N'Людмила', N'Валентиновна', 45)
GO
INSERT [dbo].[Requirement] ([Requirement_ID], [Adress_City], [Adress_Street], [Adress_House], [Adress_Number], [MinPrice], [MaxPrice], [Realtor_ID], [Client_ID], [MinArea], [MaxArea], [MinRoom], [MaxRoom], [MinFloor], [MaxFloor]) VALUES (1, N'                                                  ', N'                                                  ', N'                                                  ', N'                                                  ', NULL, NULL, 4, 23, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Requirement] ([Requirement_ID], [Adress_City], [Adress_Street], [Adress_House], [Adress_Number], [MinPrice], [MaxPrice], [Realtor_ID], [Client_ID], [MinArea], [MaxArea], [MinRoom], [MaxRoom], [MinFloor], [MaxFloor]) VALUES (2, N'Тюмень                                            ', N'                                                  ', N'                                                  ', N'                                                  ', NULL, 3100000, 7, 5, CAST(20.00 AS Decimal(18, 2)), NULL, NULL, NULL, 4, NULL)
INSERT [dbo].[Requirement] ([Requirement_ID], [Adress_City], [Adress_Street], [Adress_House], [Adress_Number], [MinPrice], [MaxPrice], [Realtor_ID], [Client_ID], [MinArea], [MaxArea], [MinRoom], [MaxRoom], [MinFloor], [MaxFloor]) VALUES (3, N'Тюмень                                            ', N'Широтная                                          ', N'                                                  ', N'                                                  ', NULL, NULL, 24, 25, NULL, NULL, NULL, NULL, NULL, NULL)
GO
ALTER TABLE [dbo].[Deal]  WITH CHECK ADD  CONSTRAINT [FK_Deal_Offers] FOREIGN KEY([Deal_ID])
REFERENCES [dbo].[Offers] ([Offer_Id])
GO
ALTER TABLE [dbo].[Deal] CHECK CONSTRAINT [FK_Deal_Offers]
GO
ALTER TABLE [dbo].[Deal]  WITH CHECK ADD  CONSTRAINT [FK_Deal_Requirement] FOREIGN KEY([Requirement_ID])
REFERENCES [dbo].[Requirement] ([Requirement_ID])
GO
ALTER TABLE [dbo].[Deal] CHECK CONSTRAINT [FK_Deal_Requirement]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_Offers_Apartments] FOREIGN KEY([Estate_Object])
REFERENCES [dbo].[Apartments] ([Id])
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_Offers_Apartments]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_Offers_Client] FOREIGN KEY([Client])
REFERENCES [dbo].[Client] ([Id])
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_Offers_Client]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_Offers_Realtor] FOREIGN KEY([Realtor])
REFERENCES [dbo].[Realtor] ([Id])
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_Offers_Realtor]
GO
ALTER TABLE [dbo].[Requirement]  WITH CHECK ADD  CONSTRAINT [FK_Requirement_Client] FOREIGN KEY([Client_ID])
REFERENCES [dbo].[Client] ([Id])
GO
ALTER TABLE [dbo].[Requirement] CHECK CONSTRAINT [FK_Requirement_Client]
GO
ALTER TABLE [dbo].[Requirement]  WITH CHECK ADD  CONSTRAINT [FK_Requirement_Realtor] FOREIGN KEY([Realtor_ID])
REFERENCES [dbo].[Realtor] ([Id])
GO
ALTER TABLE [dbo].[Requirement] CHECK CONSTRAINT [FK_Requirement_Realtor]
GO
USE [master]
GO
