USE [master]
GO
/****** Object:  Database [Estate_Agency]    Script Date: 19.01.2023 10:55:26 ******/
CREATE DATABASE [Estate_Agency]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Estate_Agency', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Estate_Agency.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Estate_Agency_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Estate_Agency_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Estate_Agency].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Estate_Agency]
GO
/****** Object:  Table [dbo].[Agents]    Script Date: 19.01.2023 10:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agents](
	[Id] [int] NOT NULL,
	[FirstName] [nchar](50) NOT NULL,
	[MiddleName] [nchar](50) NOT NULL,
	[LastName] [nchar](50) NOT NULL,
	[DealShare] [int] NOT NULL,
 CONSTRAINT [PK_Agents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Apartmemt-demands]    Script Date: 19.01.2023 10:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apartmemt-demands](
	[Id] [int] NOT NULL,
	[Address_City] [nchar](50) NULL,
	[Address_Street] [nchar](10) NULL,
	[Address_House] [nchar](50) NULL,
	[Address_Number] [nchar](50) NULL,
	[MinPrice] [int] NULL,
	[MaxPrice] [int] NULL,
	[AgentId] [int] NULL,
	[ClientId] [int] NULL,
	[MinArea] [int] NULL,
	[MaxArea] [int] NULL,
	[MinRooms] [int] NULL,
	[MaxRooms] [int] NULL,
	[MinFloor] [int] NULL,
	[MaxFloor] [int] NULL,
	[Type] [nchar](50) NULL,
 CONSTRAINT [PK_Apartmemt-demands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Apartments]    Script Date: 19.01.2023 10:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apartments](
	[Id] [int] NOT NULL,
	[Address_City] [nchar](50) NULL,
	[Address_Street] [nchar](50) NULL,
	[Address_House] [int] NULL,
	[Address_Number] [int] NULL,
	[Coordinate_latitude] [int] NULL,
	[Coordinate_longitude] [int] NULL,
	[TotalArea] [decimal](18, 2) NULL,
	[Rooms] [int] NULL,
	[Floor] [int] NULL,
	[Type] [nchar](50) NULL,
	[TotalFloors] [nchar](10) NULL,
	[ClientID] [int] NULL,
 CONSTRAINT [PK_Apartments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 19.01.2023 10:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Id] [int] NOT NULL,
	[FirstName] [nchar](50) NOT NULL,
	[MiddleName] [nchar](50) NOT NULL,
	[LastName] [nchar](50) NOT NULL,
	[Phone] [int] NULL,
	[Email] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deals]    Script Date: 19.01.2023 10:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deals](
	[Id] [int] NOT NULL,
	[Demand_Id] [int] NULL,
	[Supply_Id] [int] NULL,
 CONSTRAINT [PK_Deals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 19.01.2023 10:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[name] [nchar](50) NULL,
	[area] [nchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplies]    Script Date: 19.01.2023 10:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplies](
	[Id] [int] NOT NULL,
	[Price] [int] NULL,
	[AgentId] [int] NULL,
	[ClientId] [int] NULL,
	[RealEstateId] [int] NULL,
 CONSTRAINT [PK_Supplies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Agents] ([Id], [FirstName], [MiddleName], [LastName], [DealShare]) VALUES (1, N'Фахрутдинов                                       ', N'Роман                                             ', N'Рубинович                                         ', 20)
INSERT [dbo].[Agents] ([Id], [FirstName], [MiddleName], [LastName], [DealShare]) VALUES (4, N'Устинов                                           ', N'Максим                                            ', N'Алексеевич                                        ', 40)
INSERT [dbo].[Agents] ([Id], [FirstName], [MiddleName], [LastName], [DealShare]) VALUES (7, N'Сысоева                                           ', N'Людмила                                           ', N'Валентиновна                                      ', 45)
GO
INSERT [dbo].[Apartmemt-demands] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor], [Type]) VALUES (1, N'                                                  ', N'          ', N'                                                  ', N'                                                  ', NULL, NULL, 4, 23, NULL, NULL, NULL, NULL, NULL, NULL, N'Apartment                                         ')
INSERT [dbo].[Apartmemt-demands] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor], [Type]) VALUES (2, N'                                                  ', N'          ', N'                                                  ', N'                                                  ', NULL, NULL, 4, 16, NULL, NULL, NULL, NULL, NULL, NULL, N'House                                             ')
INSERT [dbo].[Apartmemt-demands] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [AgentId], [ClientId], [MinArea], [MaxArea], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor], [Type]) VALUES (3, N'                                                  ', N'          ', N'                                                  ', N'                                                  ', NULL, NULL, 19, 10, NULL, NULL, NULL, NULL, NULL, NULL, N'House                                             ')
GO
INSERT [dbo].[Apartments] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [Rooms], [Floor], [Type], [TotalFloors], [ClientID]) VALUES (1, N'Тюмень                                            ', N'Энергостроителей                                  ', 25, 12, 0, 0, CAST(41.70 AS Decimal(18, 2)), 1, 3, N'Apartment                                         ', NULL, NULL)
INSERT [dbo].[Apartments] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [Rooms], [Floor], [Type], [TotalFloors], [ClientID]) VALUES (2, N'Тюмень                                            ', N'Елизарова                                         ', 8, 44, 0, 0, CAST(105.00 AS Decimal(18, 2)), 3, 5, N'Apartment                                         ', NULL, NULL)
INSERT [dbo].[Apartments] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [Rooms], [Floor], [Type], [TotalFloors], [ClientID]) VALUES (3, N'Тюмень                                            ', N'Московский тракт                                  ', 139, 6, 0, 0, CAST(62.00 AS Decimal(18, 2)), 3, 2, N'Apartment                                         ', NULL, NULL)
GO
INSERT [dbo].[Clients] ([Id], [FirstName], [MiddleName], [LastName], [Phone], [Email]) VALUES (2, N'Семенов                                           ', N'Евгений                                           ', N'Николаевич                                        ', NULL, N'                                                  ')
INSERT [dbo].[Clients] ([Id], [FirstName], [MiddleName], [LastName], [Phone], [Email]) VALUES (3, N'Денисова                                          ', N'Олеся                                             ', N'Леонидовна                                        ', NULL, N'dummy@email.ru                                    ')
INSERT [dbo].[Clients] ([Id], [FirstName], [MiddleName], [LastName], [Phone], [Email]) VALUES (5, N'Сафронов                                          ', N'Алексей                                           ', N'Вячеславович                                      ', NULL, N'client@esoft.tech                                 ')
GO
INSERT [dbo].[Deals] ([Id], [Demand_Id], [Supply_Id]) VALUES (1, 1, 1)
INSERT [dbo].[Deals] ([Id], [Demand_Id], [Supply_Id]) VALUES (2, 3, 2)
INSERT [dbo].[Deals] ([Id], [Demand_Id], [Supply_Id]) VALUES (3, 5, 3)
GO
INSERT [dbo].[Supplies] ([Id], [Price], [AgentId], [ClientId], [RealEstateId]) VALUES (1, 2500000, 1, 2, 1)
INSERT [dbo].[Supplies] ([Id], [Price], [AgentId], [ClientId], [RealEstateId]) VALUES (2, 5000000, 7, 8, 3)
INSERT [dbo].[Supplies] ([Id], [Price], [AgentId], [ClientId], [RealEstateId]) VALUES (3, 1300000, 11, 12, 3)
GO
ALTER TABLE [dbo].[Apartmemt-demands]  WITH CHECK ADD  CONSTRAINT [FK_Apartmemt-demands_Agents] FOREIGN KEY([AgentId])
REFERENCES [dbo].[Agents] ([Id])
GO
ALTER TABLE [dbo].[Apartmemt-demands] CHECK CONSTRAINT [FK_Apartmemt-demands_Agents]
GO
ALTER TABLE [dbo].[Apartmemt-demands]  WITH CHECK ADD  CONSTRAINT [FK_Apartmemt-demands_Clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([Id])
GO
ALTER TABLE [dbo].[Apartmemt-demands] CHECK CONSTRAINT [FK_Apartmemt-demands_Clients]
GO
ALTER TABLE [dbo].[Apartments]  WITH CHECK ADD  CONSTRAINT [FK_Apartments_Clients] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([Id])
GO
ALTER TABLE [dbo].[Apartments] CHECK CONSTRAINT [FK_Apartments_Clients]
GO
ALTER TABLE [dbo].[Deals]  WITH CHECK ADD  CONSTRAINT [FK_Deals_Apartmemt-demands] FOREIGN KEY([Demand_Id])
REFERENCES [dbo].[Apartmemt-demands] ([Id])
GO
ALTER TABLE [dbo].[Deals] CHECK CONSTRAINT [FK_Deals_Apartmemt-demands]
GO
ALTER TABLE [dbo].[Deals]  WITH CHECK ADD  CONSTRAINT [FK_Deals_Supplies] FOREIGN KEY([Supply_Id])
REFERENCES [dbo].[Supplies] ([Id])
GO
ALTER TABLE [dbo].[Deals] CHECK CONSTRAINT [FK_Deals_Supplies]
GO
ALTER TABLE [dbo].[Supplies]  WITH CHECK ADD  CONSTRAINT [FK_Supplies_Agents] FOREIGN KEY([AgentId])
REFERENCES [dbo].[Agents] ([Id])
GO
ALTER TABLE [dbo].[Supplies] CHECK CONSTRAINT [FK_Supplies_Agents]
GO
ALTER TABLE [dbo].[Supplies]  WITH CHECK ADD  CONSTRAINT [FK_Supplies_Apartments] FOREIGN KEY([RealEstateId])
REFERENCES [dbo].[Apartments] ([Id])
GO
ALTER TABLE [dbo].[Supplies] CHECK CONSTRAINT [FK_Supplies_Apartments]
GO
ALTER TABLE [dbo].[Supplies]  WITH CHECK ADD  CONSTRAINT [FK_Supplies_Clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([Id])
GO
ALTER TABLE [dbo].[Supplies] CHECK CONSTRAINT [FK_Supplies_Clients]
GO
USE [master]
GO
